<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="UTF-8">
    <title>device</title>
  <body>
      <div>
        <label>deviceId:</label>
        <input type='text' id='deviceId'>
      </div>
      <br>
      <div>
        <label>channelId:</label>
        <input type='text' id='channelId'>
      </div>
      <br>
      <div>
        <textarea type='textarea' id='pushMessage'></textarea>
      </div>
      <br>
      <div>
        <button id="publish">发送数据</button>
      </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/device.js"></script>
</html>