<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="UTF-8">
    <title>index</title>
  <body>
      <div>
        <input type='text' id='text'>
        <button id="activate">激活</button>
      </div>
      <div>
        <button id="announceDevice">宣告设备</button>
        <button id="announceChannel">宣告功能</button>
      </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</html>